body {
  font-family: Arial, sans-serif;
  color: #000;
  margin: 2020px;
  background-image: url('imagen/fondo.jpg');
  background-size: cover; /* Para que la imagen cubra todo el fondo */

    background-position: center; /* Centra la imagen */

    height: 100vh; /* Asegúrate de que el cuerpo ocupe toda la altura de la ventana */

    margin: 0;
}
.herr{
  margin: 15px;
  border:3xp;
  border-color: #029c5c;
}

img {
  max-width: 204px;
  margin: 10px;
}

.hidden {
  display: none; /* Esta clase oculta las imágenes */
}.description {

  margin-top: 30px;

  font-size: 44px;

  color: #050000;

}
.body{
  border-color: blue;
}
